<div *ngIf="visible" class="dialog">
    <h1>
        <span class="badge">
            <span>{{date?.day}}.</span>
            <span>{{date?.month}}.</span>
            <span>{{date?.year}}</span>
        </span>
    </h1>

    <div class="event-nav">
        <div class="btn-group" role="group" aria-label="">
            <button type="button" (click)="previousEvent()" class="btn btn-default">previous</button>
            <button type="button" class="btn btn-default" disabled>{{currentlyDisplayedEventIndex + 1}}</button>
            <button type="button" (click)="nextEvent()" class="btn btn-default">next</button>
        </div>
    </div>

    <!-- Event form for viewing and editing -->
    <div>
        <div>
            <div class="form-group">
                <input type="text"
                            class="form-control form-control-lg"
                            id="name"
                            placeholder="Event Name"
                             [attr.disabled]="!enableFormFlag ? '' : null"
                             [(ngModel)]="currentlyDisplayedEvent.name"
                            required>
            </div>

            <div class="form-group">
                <textarea class="form-control"
                            id="eventDetails"
                            placeholder="Details..."
                            [attr.disabled]="!enableFormFlag ? '' : null" 
                            [(ngModel)]="currentlyDisplayedEvent.details"></textarea>
            </div>

            <button *ngIf="!enableFormFlag" (click)="addNewEvent()" class="btn crud-btn">Add</button>
            <button *ngIf="!enableFormFlag && date.events.length !== 0"(click)="enableForm()" type="submit" class="btn crud-btn">Edit</button>
            <button *ngIf="!enableFormFlag" (click)="deleteCurrentEvent()" class="btn crud-btn">Delete</button>

            <!-- Add New Event -->
            <button *ngIf="enableFormFlag" (click)="createEvent(!createEventFlag)" class="btn crud-btn">Submit</button>
            <button *ngIf="enableFormFlag" (click)="cancelEventSubmition()" class="btn crud-btn">Cancel</button>

        </div>

    </div>

    <button *ngIf="closable" (click)="close()" aria-label="Close" class="dialog__close-btn">X</button>
</div>
<div *ngIf="visible" class="overlay" (click)="close()"></div>