body {
    background: #e0e0e0;
}

@media screen and (max-width: 576px) { /* <576px	Extra Small */
    .calendar-wrapper {
        width: 95%;
        margin: 10px auto;
        .days-of-week {
            div {
                width: 2ch;
                overflow: hidden;
            }
        }

        .frame .grid {
            .table-row {
                width: 100%;
                height: 60px;

                app-calendar-cell {
                    width: 13%;
                }
            }
        }
    }
}
@media screen and (min-width: 576px) { /* ≥576px	Small */
    .calendar-wrapper {
        width: 70%;
        margin: 10px auto;
        
        header {
            height: 14px;
        }

        .days-of-week {

            div {
                padding: 10px 0;
            }
        }

         .frame .grid {
            .table-row {
                width: 100%;
                height: 60px;

                app-calendar-cell {
                    width: 14%;
                }
            }
        }
    }
}
@media screen and (min-width: 768px) { /* ≥768px	Medium */
    .calendar-wrapper {
        width: 70%;
        margin: 10px auto;

        header {
            height: 24px;
        }

        .days-of-week {

            div {
                padding: 15px 0;
            }
        }

         .frame .grid {
            .table-row {
                width: 100%;
                height: 80px;
            }
        }
    }
}
@media screen and (min-width: 992px) { /* ≥992px	Large */
    .calendar-wrapper {
        width: 80%;
        margin: 20px auto;

        header {
            height: 34px;
        }

        .days-of-week {
            width: 100%;

            div {
                padding: 15px 0;
            }
        }

         .frame .grid {
            .table-row {
                width: 100%;
                height: 100px;
            }
        }
    }
}
@media screen and (min-width: 1200px) { /* ≥1200px Extra large */
    .calendar-wrapper {
        width: 80%;
        margin: 50px auto;

        header {
            height: 34px;
        }

        .days-of-week {
            width: 100%;

            div {
                width: 154.29px;
                padding: 20px 0;
            }
        }

        .frame .grid {
            .table-row {
                width: 100%;
                height: 120px;
            }
        }
    }
}

.calendar-wrapper {
    font: 13px/1.5 "Helvetica Neue", Helvatica, Arial, san-serif;

    .header {
        cursor:default;
        height: 34px;
        color: #aaa;
        font-weight:bold;
        text-transform: uppercase;

        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

        span {
            // line-height:34px;
            
            margin-bottom: 5px;

            -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
            -moz-box-flex: 1;         /* OLD - Firefox 19- */
            width: 20%;               /* For old syntax, otherwise collapses. */
            -webkit-flex: 1;          /* Chrome */
            -ms-flex: 1;              /* IE 10 */
            flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
        }

        span.month-year {
            -webkit-box-flex: 4;      /* OLD - iOS 6-, Safari 3.1-6 */
            -moz-box-flex: 4;         /* OLD - Firefox 19- */
            width: 40%;               /* For old syntax, otherwise collapses. */
            -webkit-flex: 4;          /* Chrome */
            -ms-flex: 4;              /* IE 10 */
            flex: 4;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */

            text-align: center;
            padding-top: 5px;
        }

        span:not(.offset) {
            margin: auto 5px;
        }

        .button {
            border: 1px solid #ccc;
            border-radius: 5px;

            width:12px;
            text-align:center;
        }

        span.offset {
            -webkit-box-flex: 10;      /* OLD - iOS 6-, Safari 3.1-6 */
            -moz-box-flex: 10;         /* OLD - Firefox 19- */
            width: 80%;               /* For old syntax, otherwise collapses. */
            -webkit-flex: 10;          /* Chrome */
            -ms-flex: 10;              /* IE 10 */
            flex: 10;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
            background: #fff;
        }
    }

    .days-of-week {
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

        div {
            -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
            -moz-box-flex: 1;         /* OLD - Firefox 19- */
            width: 20%;               /* For old syntax, otherwise collapses. */
            -webkit-flex: 1;          /* Chrome */
            -ms-flex: 1;              /* IE 10 */
            flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */

            text-align: center;
            background-color: #ccc;
            color: #fff;
        }

        :after {
            clear: both;
        }
    }

    .frame .grid {
        -moz-box-shadow:0px 3px 3px rgba(0, 0, 0, 0.25);
        -webkit-box-shadow:0px 3px 3px rgba(0, 0, 0, 0.25);

        .table-row {
            display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
            display: -ms-flexbox;      /* TWEENER - IE 10 */
            display: -webkit-flex;     /* NEW - Chrome */
            display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

            position: relative;

            app-calendar-cell {
                height: 100%;
                -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
                -moz-box-flex: 1;         /* OLD - Firefox 19- */
                -webkit-flex: 1;          /* Chrome */
                -ms-flex: 1;              /* IE 10 */
                flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
            }
        }
    }
}
