.table-cell {
    // float: left;
    flex: 1;

    height: 100%;
    border: 1px solid #ccc;

    :last-of-type {
        border-right: none;
    }
}

.table-cell.today {
    background-color: #ccc;
    color: #fff;
}

.table-cell:hover {
}

.events {
    background-color: lightblue;
    color: #FFF;
    padding: 5px 0 5px 3px;

}

.events-overview {
    text-overflow: ellipsis;
    
    white-space: nowrap;
    overflow: hidden;
    
    height: 100%;
}